#main {
    margin-left: 35%;
}

#game-board{
    position: relative;
    margin-top: 50px;
}

.cell{
    position: absolute;
    width: 40px;
    height: 40px;
    border: solid 1px rgb(74, 74, 76);
    text-align: center;
    font-size:20pt;
    cursor: pointer;
    line-height: 40px;
}

.O {
    color: rgb(8, 32, 247);
}

.X {
    color: rgb(247, 92, 8);
}

button {
    width: 100px;
    height: 30px;
}