#main_content {
    width: 500px;
    margin-left: 35%;
}

#container {
    display: flex;
    background-color: rgb(220, 229, 229);
    height: 50px;
}

#container > label, input, button {
    margin-top: 10px;
    padding-right: 10px;
}

#product_list {
    width: 500px;
}

#header {
    display: flex;
    justify-content: space-between;
}

.header:nth-child(2) {
    width: 100px;
    color: coral;
}

.product_element {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

button {
    height: 26px;
    width: 70px;
    display: block;
    background-color: rgb(22, 137, 22);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

p, input {
    height: 20px;
    width: 200px;
    text-align: left;
}
